target
*.iml
*.ipr
*.iws
.idea
.classpath
.project
.settings
.DS_Store
.vscode
*.bpmn/
/userguide/src/en/index.html
userguide/src/en/output/
migration.html
/**/bin
userguide-dmn/src/en/output
userguide-form/src/en/output
userguide-cmmn/src/en/output
docker/all-in-one/assets
